<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <script src="/js/styles.js"></script>

</head>

<body>
    <div class="main-content">
          {{>header}}
        <img class="potrait" src="/images/img.jpg">
    </div>
  
    {{>footer}}
</body>

</html>