<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <script src="/js/styles.js"></script>

</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>Use this app to get the weather of the desired location</p>

    </div>
   
    {{>footer}}
</body>

</html>