<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>Use this app to get the weather of the desired location</p>

         <form>
             <input placeholder="Location">
             <button> Search</button>
         </form>

    </div>
   
    {{>footer}}
    
     <script src="/js/fetchapi.js"></script>
</body>

</html>